#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: #2c3e50;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    transition: top 0.3s;
    padding: 0 0px;
}

#topbar span {
    flex: 1;
    text-align: left;
    padding-left: 30px;
}

.menu {
    padding-right: 30px; 
  }

.menu>li {
  display: inline-block;
  padding: 10px; 
}

.drop_down { 
  position: relative; 
}

.drop_down:hover { 
  background-color: rgb(255, 255, 255); }

.dd_list {
  display: none;
  padding-left: 0;
  list-style-type: none;
  position: absolute; }

.drop_down:hover .dd_list { 
  display: block; 
}

.dd_list li {
  border: 1px dotted;
  background-color:#2c3e50;
  padding: 10px; }

.dd_list li:hover { 
  background-color: rgb(39, 39, 121); 
}

.menu>li, .dd_list { 
  cursor: pointer; 
}

.menu>li:first-child {
  background-color: #2c3e50;
  cursor: auto; 
}